rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Habits are private to each user
    match /habits/{habitId} {
      // Allow read and write access if the 'owner_id' field in the document
      // matches the authenticated user's UID
      allow read, write: if request.auth != null && request.auth.uid == resource.data.owner_id;
      // Allow create if the user is authenticated and sets their own owner_id
      allow create: if request.auth != null && request.auth.uid == request.resource.data.owner_id;
    }
  }
}